/*
!.config/
.config/*
!.config/sxhkd/
!.config/bspwm/
!.config/kitty/
!.config/polybar/
.config/polybar/*
!.config/polybar/hack
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
.config/ranger/__pycache__
!.config/dunst/
.config/spicetify/*
.config/spicetify/Themes/
.config/spicetify/config-xpui.ini
!.config/wpg/
.config/wpg/*
!.config/wpg/wpg.conf
!.config/wallpapers/
.config/wallpapers/*
!.config/wallpapers/PLACEHOLDER.md
!.config/rofi/
!.config/ranger/
!.config/rofi/
!/.xinitrc
!/.zshrc
!neededPackages.txt
!/.gitignore
